{% extends 'dashboard_base.html' %}

{% block nav-content %}
<div>
	<h3 style="margin:20px;margin-left:150px;">Dashboard</h3>
	<canvas id="myChart" style="margin-left: 150px;width: 1000px;height: 700px;"></canvas>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
<script>
		var labels = "{{labels}}";
		labels = labels.replace(/&quot;/g,'"');
		labels = JSON.parse(labels);
		var ctx = document.getElementById('myChart').getContext('2d');
	var chart = new Chart(ctx, {
		// The type of chart we want to create
		type: 'bar',

		// The data for our dataset
		data: {
			labels: labels,
			datasets: [{
				label: 'My GRAPH',
				backgroundColor: 'rgb(9, 179, 249)',
				borderColor: 'rgb(255, 99, 132)',
				data: {{data}}
			}]
		},

		// Configuration options go here
		options: {}
	});
</script>

{% endblock %}